#main-navigation{
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0 10%;
    top:0;
    left: 0;
    position: absolute;
    
}
#main-navigation a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    
}
#main-navigation a:hover{
    color: #e48900;
}

#welcome{
    background: linear-gradient(to right top, rgb(102, 194, 194), #18171a);
    padding: 6rem 12%;
}
#welcome header{
    display: flex;
    align-items: flex-start;
    margin: 3rem auto;
}
#welcome img{
    width: 10rem;
    height: 10rem;
    border:5px solid white;
    border-radius: 12px;
    background-color: #ffe1bf;
    object-fit: cover;
    box-shadow: 0 2px  8px rgba(0,0,0 ,0.25);
    transform: rotateZ(-5deg);
}
#welcome h2{
    color: #e4e4e4;
    font-size: 3.5rem ;
    margin: 0 0 0 2rem;
    width: 10rem;

}
#welcome p{
    color: white;
    font-size: 1.5rem;
}
#latest-posts{
    background-color: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 1px 1px 12px rgba(0,0,0 ,0.4);
    width: 60rem;
    margin: -6rem auto 2rem auto;

}
#latest-posts h2{
    text-align: center;
}
#latest-posts ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
}
#latest-posts li{
flex: 1;

}
.post{
    display: flex;
    flex-direction:column ;
    align-items: center;
    text-align: center;
}
.post a{
    text-decoration: none;
    color: black;
    padding: 1rem;
    transition: all 0.2s ease;
}
.post a:hover, .post a:active{
    transform: scale(1.1);
    color:yellowgreen;
    background-color: #333038;
}
.post img{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    object-fit: cover;
}
.post h3{
    margin: 0.25rem 0;
}
#about{
    background-color:#e48900;
    padding:3rem;
    margin: 5rem;
    text-align: center;

}
#about h2{
    font-size: 3rem;
    color: white;
}
#about p{
    font-size: 1rem;
    color: white;
}