#main-navigation{
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0 10%;
    top:0;
    left: 0;
    position: absolute;
    color: white;
    background-color: rgb(75, 75, 185);
    
}
#main-navigation a{
    text-decoration: none;
    color:white;
    font-weight: bold;
    background-color: rgb(75, 75, 185);
    
}
#main-navigation a:hover{
    color: #e48900;
}
#summary{
    padding: 2rem;
    width: 90%;
    margin: 8rem auto 3rem auto;
    max-width: 90rem;
    background-color:rgb(75, 75, 185) ;
    border-radius: 16px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.4);
    height: 22rem;
    position: relative;
}
#summary h2{
    color: white;
    font-size: 3.5rem;
    margin: 0.25rem;
}
#summary article{
    position: absolute; /* pushes it to the right*/
    top:2rem;
    right: 3rem;
    padding: 1rem 2rem;
    border-radius: 12px;
    color: white;
    text-align: center;
}
#summary article img{
    width:12rem;
    height: 12rem;
    border-radius: 12px;
    transform: rotateZ(5deg);/* tilt*/
    margin-bottom: 1rem;
}
#summary address{
    font-weight: bold;
}
#summary time{
    font-weight: bold;
}
#summary address a{
color: white;
text-decoration: none;
}
main{
    width: 90%;
    max-width: 90rem;
    margin: 3rem auto;
    background-color:rgb(102, 194, 194);
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
    padding: 1rem;
    color: rgb(75, 75, 185);
}